@font-face {
	font-family: 'def'; 
	src:url('../other/font.otf'); 
}
body{
    
    background-image:url('../other/bg.jpg');
    background-size: 100% 100%;
}
.btn{
    width: 250px;
    height: 120px;
    border-radius: 10%;
    border-color:rgb(255,255,255,0.2);
    font-family:'def';
    font-size: 3rem;
    color:white;
    line-height: 115px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px; 
}
.btn:hover{
    filter:brightness(120%);
}
.btn:active{
    filter:brightness(50%);
}
.btn.rgb{
    background-image: linear-gradient(60deg, #e85475 10%, #d48444 50%, #efcb0a 100%);
}
.sclicks{
    font-family:'def';
    font-size: 8rem;
    color:white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -400;
    cursor:default;
    user-select: none;
}